// COLORS
$color-primary : #fff;
$color-secondary : #000;
$color-third : #646464;
$color-fourth : #f7f7f7;
$color-five : #f42300;
$color-sixt : #bfbfbf;
$color-seven : #b4986d;

$color-facebook : #3c5997;

// BREAKPOINTS
$tablet: 768px;
$laptop: 1024px;

// EASE
$easingEffectNormal: cubic-bezier(.86, 0, .07, 1);
$easingEffectSwift: cubic-bezier(0, 0, .2, .92);

//TYPOS
$font-primary: 'Lora', serif;
$font-secondary: 'Poppins', Helvetica, Arial, sans-serif;